/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/* CSS to apply border only on hover */
.nav-item .nav-link {
    border: 1px solid transparent; /* Transparent border initially */
    padding: 10px; /* Adjust padding to maintain layout */
    transition: padding 0.3s, border-color 0.3s; /* Add transition for padding and border */
    margin-top: 10px; /* Add margin to create space between elements */
}

/* Apply margin only to the first element */
.nav-item:first-child .nav-link {
    margin-top: 20px; /* Increase margin for the first element */
}

/* Add top margin to the entire navigation */
#sidebarMenu {
    padding-top: 20px; /* Adjust as needed */
}

.nav-item .nav-link:hover,
.nav-item .nav-link.active {
    border-color: yellow; /* Apply border color on hover and to active view */
    padding: 9px; /* Adjust padding to accommodate the border */
}

