<div>
    <br />
    <div>
        <h2 class="text-danger text-center"> Student DashBoard </h2>
    </div>
    <br/>
    <div class="text-center d-flex justify-content-evenly align-content-center">
        <div class="d-flex justify-content-evenly align-items-center" style="width: 250px; height: 150px; background-color: yellowgreen; border-radius: 10px; ">
            <div style="background-position: center; background-size: contain; background-repeat: no-repeat;">
                <img src="~/Images/students.png" style="height:auto; width: 70px;">
            </div>
            <div><h4>Total Students</h4></div>
        </div>
        <div class="d-flex justify-content-evenly align-items-center" style="width: 250px; height: 150px; background-color: chocolate; border-radius: 10px;">
            <div style="background-position: center; background-size: contain; background-repeat: no-repeat;">
                <img src="~/Images/boy.png" style="height:auto; width: 70px;">
            </div>
            <div><h4>Girl Students</h4></div>
        </div>
        <div class="d-flex justify-content-evenly align-items-center" style="width: 250px; height: 150px; background-color: coral; border-radius: 10px;">
            <div style="background-position: center; background-size: contain; background-repeat: no-repeat;">
                <img src="~/Images/girlstudent.png" style="height:auto; width: 70px;">
            </div>
            <div><h4>Boy Students</h4></div>
        </div>
        <div class="d-flex justify-content-evenly align-items-center" style="width: 250px; height: 150px; background-color:orchid; border-radius: 10px;">
            <div style="background-position: center; background-size: contain; background-repeat: no-repeat;">
                <img src="~/Images/transgender.png" style="height:auto; width: 70px;">
            </div>
            <div><h4>Other's</h4></div>
        </div>
    </div>
    <br/>
    <div class="text-center text-danger">
        <h2>Present Students</h2>
    </div>
</div>

